.payment{
    background-color: white;
}

.payment__container > h1 {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234, 237, 237);
    border-bottom: 1px solid lightgray;
}

.payment_cantainer > h1 a {
    text-decoration: none;
}

.payment_section {
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}

.payment_tital{
    flex: 0.2;
}

.payment_address, .payment_items, .payment_details {
    flex: 0.8;
}